
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
*:focus{
    outline: none;
}
*::-moz-focus-inner {
    border: 0;
}  
  
body{
    min-height: 100vh;
    display: flex;
    background-color: #f9f9f9;
    font-family: 'Spartan';
}
@font-face {
    font-family: 'Spartan';
    src: url('./Spartan-Regular.ttf');
}


/*
barra lateral
*/
aside{
    width: 230px;
    background-color: rgb(34, 45, 50);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    color: #ffffff;
    transition: all .5s;
    animation: openMenu .5s;
}
aside.oculto{
    height: 50px;
    animation: closeMenu 1s;
}
@keyframes closeMenu{
    0%{
        height: 100%;
    }
    100%{
        height: 50px;
    }
}
@keyframes openMenu{
    0%{
        height: 50px;
    }
    100%{
        height: 100%;
    }
}
aside nav, aside .profesor{
    transition: all .5s;
}
aside.oculto nav, aside.oculto .profesor{
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
}

aside h1{
    text-transform: capitalize;
    font-size: 22px;
    text-align: center;
    background-color: rgb(54, 127, 169);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
aside nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
aside nav ul li{
    display: flex;
    justify-content: start;
}
aside nav ul li button{
    background-color: transparent;
    padding: 10px;
    padding-left: 15px;
    border: 0;
    border-left: 3px solid transparent;
    cursor: pointer;
    width: 100%;
    text-align: left;
    color: #ffffff;
    font-size: 15px;
    border-radius: 0;
}
aside nav ul li button i{
    width: 25px;
}
aside nav ul li button:hover{
    background-color: rgba(0, 0, 0, .1);
    display: block;
}
aside nav ul li button.active{
    background-color: rgb(30, 40, 44);
    border-color: rgb(60, 141, 188);
}


/*
encabezado
*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: fixed;
    top: 0;
    left: 230px;
    right: 0;
    background-color: rgb(60, 141, 188);
    color: #fff;
}


/*
principal
*/
main{
    margin-left: auto;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}
main.w100{
    width: 100%;
    transition: all 1s;
}

/*
formularios
*/
.grupo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}
.fila{
    display: flex;
    justify-content: space-around;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #ffffff;
    margin: auto;
    border: 1px solid #dddddd;
    box-shadow: 2px 10px 16px rgba(0, 0, 0, 0.1);
}
.login .input{
    width: 100%;
}
button{
    padding: 10px;
    border: 0;
    cursor: pointer;
    transition: all .5s;
    background-color: rgb(60, 141, 188);
    color: #ffffff;
}
.enviar, .volver{
    width: auto !important;
    background-color: rgb(60, 141, 188);
    color: #ffffff;
}
.enviar:hover{
    background-color: rgb(54, 127, 169);
}
.volver{
    background-color: rgb(34, 45, 50);
}
.volver:hover{
    background-color: rgb(30, 40, 44);
}
input, select, textarea{
    padding: 8px;
    border: 1px solid #c0c0c0;
    background-color: #f9f9f9;
    border-radius: 2px;
}


/*
amonestaciones
*/
.amonestar{
    background-color: #fff;
    width: 75%;
    text-align: center;
    padding-bottom: 20px;
    border: 1px solid rgb(34, 45, 50);
    position: relative;
}
.amonestar-listado{
    background-color: #fff;
    width: 75%;
    text-align: center;
    overflow-x: auto;
}
.amonestar label{
    margin-bottom: 5px;
}
.amonestar input, .amonestar label, .amonestar textarea, .amonestar button, .amonestar select{
    width: 90%;
}
.amonestar select:empty{
    cursor: not-allowed!important;
}
.amonestar-listado table{
    width: 100%;
    border-collapse: collapse;
}
.amonestar-listado table td{
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, .2)
}
.amonestar-listado table th{
    padding: 10px;
    border: 1px solid rgb(30, 40, 44);
}
.amonestar-listado table tr:hover td{
    background-color: rgba(0, 0, 0, .05);
}
.amonestar-listado table th{
    background-color: rgb(30, 40, 44);
    color: #fff;
}
.amonestar .titulo{
    background-color: rgb(34, 45, 50);
    color: #fff;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.amonestar .titulo h2{
    font-size: 20px;
}
.amonestar .titulo button{
    border-radius: 0;
    height: 100%;
    margin-left: 5px;
}




.shadow-in {
    -moz-box-shadow:    inset 0 0 20px 20px rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0 0 20px 20px rgba(0, 0, 0, .1);
    box-shadow:         inset 0 0 20px 20px rgba(0, 0, 0, .1);
}
.shadow-out{
    -moz-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .1);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .1);
}


/*
avatar profesor
*/
.profesor{
    padding: 10px;
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
}
.profesor i{
    margin-right: 10px;
}

.reloj{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    padding: 5px;
    margin-right: 10px;
    font-size: 14px;
    width: 100px;
    border-radius: 5px;
}
.reloj i{
    color: rgba(255, 255, 255, .5);
    font-size: 13px;
}


/*
alertas
*/
#contenedor-alertas{
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 9999;
    width: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}
.alert{
    position: relative;
    padding: 10px;
    margin-top: 20px;
    animation: myAlert 1s;
    border-bottom: 3px solid #000;
    right: 40px;
    text-align: center;
    width: 250px;
    color: #fff;
}
@keyframes myAlert {
    0% {
        right: 0;
        opacity: 0;
    }
    100% { 
        opacity: 1;
        right: 40px;
    }
}
.alert.warning{
    background-color: rgb(200, 0, 0);
    border-color: rgb(150, 0, 0);
}
.alert.success, .alert.success .close{
    background-color: rgb(0, 200, 0);
    border-color: rgb(0, 150, 0);
}
.alert .close{
    position: absolute;
    top: 0;
    right: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: calc(100% + 3px);
    border-radius: 0;
}
.alert.warning .close{
    background-color: rgb(150, 0, 0);
}
.alert.success .close{
    background-color: rgb(0, 150, 0);
}





.animate{
    position: relative;
    animation: hola 1s;
}
@keyframes hola {
    0% {
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}



span.pendiente{
    padding: 3px;
    background-color: rgba(150, 85, 0, 0.7);
    font-size: 14px;
}
span.expulsado{
    padding: 3px;
    background-color: rgba(67, 150, 0, 0.7);
    font-size: 14px;
}
span.cancelada{
    padding: 3px;
    background-color: rgba(150, 22, 0, 0.7);
    font-size: 14px;
}

#icono-menu i{
    transition: all .5s;
    transform: rotate(0deg);
}
#icono-menu:hover i{
    transition: all 1s;
    transform: rotate(360deg);
}


@media only screen and (max-width: 900px) {   
    main{
        width: 100%;
    }
}